{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'mblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'mblog:index' %}">Strona Główna</a></li>
            <hr />
            <li><a href="/admin/">Dodaj wpis</a></li>
        </ul>
    </div>
    <div id="content">
        <h1 style="margin-top:0">{{ tweet.title }}</h1>
        <h3>Data wpisu: {{ tweet.pub_date }}</h3>
        <h3 style="margin-bottom: 0px;">Pełna treść:</h3>
        <p style="text-indent: 20px;margin-top: 0px;">{{ tweet.content }}</p>
    </div>
</div>