{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'mblog/style.css' %}" />

<div id='container'>
    <div id='header'>
    </div>
    <div id="menu">
        <ul>
            <li><a href="{% url 'mblog:index' %}">Strona Główna</a></li>
            <hr />
            <li><a href="/admin/">Dodaj/Edytuj/Usuń wpis</a></li>
        </ul>
    </div>
    <div id="content">
        <h3>Wpisy:</h3>
        {% if latest_tweet_list %}
            <ul>
            {% for tweet in latest_tweet_list %}
                <li>
                    <hr>
                    <span style="font-weight: bold">Tytuł: </span><span style="font-style: italic">{{ tweet.title }}</span></br>
                    <span style="font-weight: bold">Data wpisu: </span>{{ tweet.pub_date }}</br>
                    <span style="font-weight: bold">Treść:</span>
                    <p style="text-indent: 20px;margin-top: 0px;">
                        {% if tweet.content|length  > 150 %}
                            {{ tweet.content|slice:":150" }}...
                        <a href="{% url 'mblog:detail' tweet.id %}">czytaj dalej</a></p>
                        {% else %}
                            {{ tweet.content }}</p>
                        {% endif %}
                    <hr />
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Niestety nie ma jeszcze żadnych wpisów :(</p>
        {% endif %}
    </div>
</div>